.carrousel{
    width: 90%;
    max-width: 120em;
    background-color: lightblue;
    .grande{
        width: 200%;
        background-color: orange;
        display: flex;
        flex: row nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    img{
        width: calc(100% / 2);
        background-color: blueviolet;
    }
    .puntos{
        width: 100%;
        background-color: red;
        padding: 1em;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        .punto{
            width: 2em;
            height: 2em;
            background-color: coral;
        }
    }
}